$colorOrange: #f75a3f;
$colorOrangeOpacity: #fff8ee;
$colorViolet: #0ca8b6;
$boxShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$boxShadowHover: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
$widthNavLeft: 279px;
$widthNavLeftBar: 101px;
$heightNavHeading: 92px;
$inputHeight: 20px;
$inputMaxWidth: 45%;
$inputRadius: 4px;