.schedule-detail {
    .title {
        font-size: 1.5rem;
    }
    .form {
        font-size: 1.2rem;
        margin-top: 1rem;
        p {
            padding: 0.5rem 0;
        }
        .text-bold {
            font-weight: bold;
            display: inline;
        }
    }
}