@import "../Variable.scss";
.DetailPet {
  .container {
    padding: 0 122px;
  }
  .product-img {
    .img-active {
      width: 100%;
      height: 459px;
      border-radius: 5px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .list-img {
      display: flex;
      margin-top: 0.5rem;
      .img {
        width: 108px;
        height: 125px;
        margin: 0 0.1rem;
        border-radius: 2px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .item-content {
    .name {
      font-size: 2rem;
      font-weight: 600;
    }
    .price {
      display: flex;
      .price1 {
        color: gray;
        margin-left: 1rem;
        margin-right: 0.5rem;
      }
      .price2 {
        color: $colorOrange;
      }
      .gia {
        margin-left: 0.5rem;
      }
    }
    .title {
      font-size: 1.2rem;
      font-weight: 500;
      margin: 1rem 0;
    }
    .input_quantity {
      height: 25px;
      width: 50px;
      box-sizing: border-box;
      text-align: center;
      outline: none;
      box-shadow: none;
    }
    .description {
      .content {
        text-indent: 1.5rem;
      }
    }
    .high-light {
      .content {
        margin-left: 2rem;
        ul li {
          padding: 0.5rem 0;
          color: gray;
        }
      }
    }
    .button {
      margin: 1rem 0;
      display: flex;
      justify-content: space-around;
      .add-cart,
      .buy {
        border-radius: 5px;
        border: 1px solid;
        padding: 0.5rem 1rem;
        font-weight: 500;
        cursor: pointer;
      }
      .add-cart {
        background-color: black;
        color: $colorOrange;
        border-color: black;
        transition: 0.5s;
        &:hover {
          color: white;
          background-color: $colorOrange;
          border-color: $colorOrange;
        }
      }
      .buy {
        color: white;
        background-color: $colorOrange;
        border-color: $colorOrange;
        transition: 0.5s;
        &:hover {
          background-color: black;
          color: $colorOrange;
          border-color: black;
        }
      }
    }
  }
}
@media screen and (max-width: 937px) {
  .DetailPet {
    .container {
      padding: 0 90px;
    }
  }
}
@media screen and (max-width: 965px) {
  .DetailPet {
    .container {
      padding: 0 60px;
    }
  }
}
@media screen and (max-width: 540px) {
  .DetailPet {
    .container {
      padding: 0 10px;
    }
  }
}
