@import "../Variable.scss";
.Shop {
  .left {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;
    .search {
      .title {
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }
      .input-search {
        position: relative;
        width: 100%;
        input {
          width: 100%;
          height: 30px;
          outline: none;
          box-shadow: none;
          font-size: 1.1rem;
          padding: 0 30px 0 5px;
          box-sizing: border-box;
          // padding-left: 1rem;
        }
        .icon {
          width: 30px;
          height: 30px;
          position: absolute;
          top: 50%;
          right: -18px;
          transform: translate(-50%, -50%);
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            width: 20px;
            height: 20px;
            color: $colorOrange;
          }
        }
      }
    }
    .category {
      margin-top: 1rem;
      .title {
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }
      .content {
        .item {
          margin: 0 0 1rem 1rem;
          cursor: pointer;
          padding: 1rem 0rem;
          border-bottom: 1px dashed gray;
          position: relative;
          .count {
            padding: 0.1rem 0.4rem;
            background-color: $colorOrange;
            border-radius: 10px;
            color: white;
            position: absolute;
            top: 50%;
            left: 90%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    .grand {
      .title {
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }
      .item {
        padding: 0.5rem;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          font-weight: 500;
        }
      }
    }
  }
  .item-pet {
    a {
      color: black;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
      .add-cart {
        transform: translateY(-28px);
      }
      .blur {
        background-color: rgba(0, 0, 0, 0.3) !important;
      }
    }
    .img {
      width: 100%;
      height: 300px;
      overflow: hidden;
      border-radius: 5px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
        transition: 0.5s linear;
      }
      .add-cart {
        background-color: $colorOrange;
        position: absolute;
        left: 0;
        top: 100%;
        padding: 0.3rem 0;
        color: white;
        width: 100%;
        transition: 0.5s;
        text-align: center;
        z-index: 12;
        cursor: pointer;
      }
      .blur {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: transparent;
        z-index: 10;
        transition: 0.5s;
      }
    }
    .name {
      font-size: 1.1rem;
      text-align: center;
      margin: 0.5rem 0;
    }
    .price {
      display: flex;
      justify-content: center;
      .price1 {
        margin-right: 1rem;
        color: gray;
      }
      .price2 {
        margin-right: 0.5rem;
      }
    }
  }
}
